.login {
  display:flex;
  justify-content:center;
  align-items: flex-start;
  background-color: bisque;
  font-size: 20px;
}

.login-register-form {
  display: flex;
  justify-items: center;
  width: 500px;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
  padding: 20px;
  border: 1px solid;
  border-radius: 1rem;
  background: beige;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}
.tabs {
  display: flex;
  column-gap: 10px;
}
.tab {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 20px;
}
.tabs .selected {
  border-bottom: 1px solid rebeccapurple;
}